body {
    box-sizing: border-box;
    margin:4rem;
    padding: 0;
    background: #333;
    color: white;
    font-family: arial, sans-serif;

}

.app__name {
    font-size: 2rem;
    margin: 0;
}

.input__title, .input__content {
    width: 30%;
    padding: 0.3rem;
    outline: 0;
    border: 1.5px solid rgb(218, 218, 74);
    border-radius: 5px;
    margin: 0.5rem;
}

.btn {
    border-radius: 10px;
    outline: none;
    background: rgb(255, 255, 4);
    color: black;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.empty__field {
    text-align: center;
    margin: 5rem;
}

.notes__list {
    list-style: none;
  
}

.note__item {
    display: inline-block;
    border: 1px solid white;
    width: 12rem; 
    min-height: 12rem;
    max-height: auto;
    padding-left: 1rem;
    overflow: hidden;
    color: black;
    margin: 2rem 1.5rem;
}

.note__item:hover,
.note__item:focus{
    
    cursor: pointer;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}

.close__btn {
    background: red;
    border: 1.5px double white;
    height: 1.8rem;
    width: 1.8rem;
    margin: 0.2rem;
    position: fixed;
    top:0;
    right: 0;
    cursor: pointer;
}

.close__btn i{
    color: white;
    position: fixed;
    right:0.5rem; 
    font-size: 1.3rem;   
}

li {
    transform: rotate(5deg);
    background: yellow;
}

li:nth-child(2n) {
    transform: rotate(-5deg);
    background: orange;
}

li:nth-child(3n) {
    transform: rotate(5deg);
    background: dodgerblue;
}

.note__content {
    font-family: "Reenie Beanie", cursive;
    font-size: 1.1rem;
    word-wrap: break-word;
}

.note__title {
     word-wrap: break-word;
}

.hidden {
    display: none;
}

@media (max-width: 60rem) {
    /* .note__item:first-child{
        margin: 2rem 0rem;
    } */
    
     .input__title, .input__content {
        width: 100%;
        margin-left: 0;
        display: block;
        margin:1rem 0;
        padding: 0.7rem;
    }

    .note__item{
        margin-left: 1rem ;
    }
}

@media (max-width: 41rem) {
    .input__title, .input__content {
        width: 100%;
        margin-left: 0;
        display: block;
        margin:1rem 0;
    }
     ul {
        padding-inline-start: 0;
     }
}


